{% load gravatar %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ title|title }}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/normalise.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="body">
            <nav><ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul></nav>
            <div id="content">
                {% block content %}ADD CONTENT{% endblock %}
            </div>
            <div id="side_panel">
                {% gravatar %}{{ user.get_full_name }}
            </div>
        </div>
    </body>
</html>
